In [1]:
import os
import pandas as pd
import random
import numpy as np
random.seed(42)

obj_dir = '../../data/hippo/obj/swc'
ext = '.obj'
exist_files = {f[:-len(ext)] for f in os.listdir(obj_dir) if f.endswith(ext)}
print(len(exist_files))

1454

In [2]:
res_df = pd.read_csv('../../data/CA1_hippo_data.csv')
res_df

,Unnamed: 0,x_umap,y_umap,x_sp,y_sp,region,soma_x,soma_y,soma_z,label,color
0,SEU-ALLEN_local_15257_11828_9319_6464_CCFv3,16.210230,6.895874,-0.186924,0.906688,CA1,350.87900,119.023,382.147,2,#fc8d62
1,SEU-ALLEN_local_15257_12664_10213_6561_CCFv3,-2.125170,17.360266,-6.324810,-1.563910,CA1,354.43500,104.924,368.520,2,#fc8d62
2,SEU-ALLEN_local_15257_12696_10181_6599_CCFv3,-2.071168,17.108667,-5.620287,0.967823,CA1,356.41800,103.741,369.152,2,#fc8d62
3,SEU-ALLEN_local_15257_12727_10075_6525_CCFv3,2.639445,13.833082,-2.389533,0.010166,CA1,352.20596,103.706,370.922,2,#fc8d62
4,SEU-ALLEN_local_15257_12761_10139_6565_CCFv3,-1.859927,18.074007,-3.807943,2.311645,CA1,354.33900,102.760,369.913,2,#fc8d62
...,...,...,...,...,...,...,...,...,...,...,...
2180,SEU-ALLEN_local_211541_4871_9997_7102_CCFv3,11.051543,12.050756,-0.135219,-1.932351,CA1,352.39300,175.227,365.120,2,#fc8d62
2181,SEU-ALLEN_local_211541_5071_7478_6674_CCFv3,15.851976,-8.312741,4.718724,3.231417,CA1,328.62100,218.458,359.391,1,#66c2a5
2182,SEU-ALLEN_local_211541_5886_7004_6693_CCFv3,10.135291,-6.783164,3.948351,0.744738,CA1,326.03600,231.018,346.088,1,#66c2a5
2183,SEU-ALLEN_local_236174_15628_9151_6670_CCFv3,8.012023,-4.869641,3.022187,4.211979,CA1,324.80300,225.821,349.086,1,#66c2a5
2184,SEU-ALLEN_local_236174_16148_28183_6541_CCFv3,7.659338,-5.012122,4.048840,1.772395,CA1,320.35500,189.668,384.525,1,#66c2a5

In [3]:
res_df = res_df[res_df['Unnamed: 0'].isin(exist_files)]
res_df

,Unnamed: 0,x_umap,y_umap,x_sp,y_sp,region,soma_x,soma_y,soma_z,label,color
0,SEU-ALLEN_local_15257_11828_9319_6464_CCFv3,16.210230,6.895874,-0.186924,0.906688,CA1,350.879,119.023,382.147,2,#fc8d62
6,SEU-ALLEN_local_15257_6400_10326_5831_CCFv3,4.189724,14.292108,-3.708046,-0.503194,CA1,334.513,226.331,363.807,2,#fc8d62
7,SEU-ALLEN_local_15257_8339_8994_6371_CCFv3,6.367211,12.574624,-2.201516,0.542360,CA1,355.713,183.945,386.149,2,#fc8d62
8,SEU-ALLEN_local_15257_9477_30398_6228_CCFv3,13.778902,3.048226,0.344762,1.347306,CA1,347.832,172.033,390.542,2,#fc8d62
11,SEU-ALLEN_local_17300_24244_18410_5388_CCFv3,5.871528,-10.530300,-2.493196,3.533341,CA1,304.638,77.595,314.706,1,#66c2a5
...,...,...,...,...,...,...,...,...,...,...,...
2179,SEU-ALLEN_local_211541_4751_8288_6581_CCFv3,15.337865,-3.871014,1.405519,2.030365,CA1,325.782,202.105,366.166,1,#66c2a5
2180,SEU-ALLEN_local_211541_4871_9997_7102_CCFv3,11.051543,12.050756,-0.135219,-1.932351,CA1,352.393,175.227,365.120,2,#fc8d62
2181,SEU-ALLEN_local_211541_5071_7478_6674_CCFv3,15.851976,-8.312741,4.718724,3.231417,CA1,328.621,218.458,359.391,1,#66c2a5
2182,SEU-ALLEN_local_211541_5886_7004_6693_CCFv3,10.135291,-6.783164,3.948351,0.744738,CA1,326.036,231.018,346.088,1,#66c2a5
2184,SEU-ALLEN_local_236174_16148_28183_6541_CCFv3,7.659338,-5.012122,4.048840,1.772395,CA1,320.355,189.668,384.525,1,#66c2a5

In [4]:
# np.random.seed(42)

# show_df_random = res_df.copy()
# show_df_random['label'] = np.random.choice([1, 2], size=len(show_df_random))
# res_df = show_df_random
# res_df

In [5]:
def sample_per_group(g):
    return g.head(200) if len(g) > 200 else g

selected = (res_df.groupby('label', group_keys=False)
                  .apply(sample_per_group)
                  .reset_index(drop=True))

selected

C:\Users\yishui\AppData\Local\Temp\ipykernel_72432\3342339409.py:4: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  selected = (res_df.groupby('label', group_keys=False)

,Unnamed: 0,x_umap,y_umap,x_sp,y_sp,region,soma_x,soma_y,soma_z,label,color
0,SEU-ALLEN_local_17300_24244_18410_5388_CCFv3,5.871528,-10.530300,-2.493196,3.533341,CA1,304.63800,77.595,314.706,1,#66c2a5
1,SEU-ALLEN_local_17300_24612_19616_5167_CCFv3,6.273996,-11.699275,-1.310614,0.412986,CA1,294.52700,77.925,302.428,1,#66c2a5
2,SEU-ALLEN_local_17300_24910_31532_5034_CCFv3,6.305232,-10.532533,3.787463,-1.837566,CA1,289.83404,89.841,245.626,1,#66c2a5
3,SEU-ALLEN_local_17300_25145_31938_5048_CCFv3,7.686120,-10.486910,2.560363,2.648680,CA1,290.22100,87.015,249.166,1,#66c2a5
4,SEU-ALLEN_local_17300_25590_20787_5613_CCFv3,8.869219,-10.027390,1.322549,2.366089,CA1,314.68600,58.717,291.884,1,#66c2a5
...,...,...,...,...,...,...,...,...,...,...,...
395,SEU-ALLEN_local_191797_5619_12246_5809_CCFv3,12.586633,16.369820,-1.026749,0.127461,CA1,290.82200,75.332,274.292,2,#fc8d62
396,SEU-ALLEN_local_191797_5652_12321_5819_CCFv3,10.339148,8.110147,-0.582263,-0.589187,CA1,291.47500,76.075,273.000,2,#fc8d62
397,SEU-ALLEN_local_191797_5652_9677_6466_CCFv3,12.714472,7.010347,-0.621690,1.967783,CA1,327.45800,83.054,317.105,2,#fc8d62
398,SEU-ALLEN_local_191797_5659_11167_5641_CCFv3,11.211193,9.485150,-0.326217,-0.687735,CA1,280.96100,74.198,291.977,2,#fc8d62
399,SEU-ALLEN_local_191797_5663_11113_6084_CCFv3,14.007962,11.190090,-1.443667,-0.465286,CA1,305.70700,78.300,292.318,2,#fc8d62

In [6]:
out_df = selected[['Unnamed: 0']].copy()
out_df = out_df.rename(columns={'Unnamed: 0': 'swc_id'})

import random

def rand_color():
    return '#{:06x}'.format(random.randint(0, 0xFFFFFF))

out_df['color'] = [rand_color() for _ in range(len(out_df))]
out_df.to_csv('../../data/selected_obj_200perCluster.csv', index=True)

out_df['folder'] = 'cluster_' + selected['label'].astype(str)

out_df.to_csv('../../data/selected_obj_200perCluster.csv', index=True)

In [7]:
out_df

                                           swc_id    color     folder
0    SEU-ALLEN_local_17300_24244_18410_5388_CCFv3  #390062  cluster_1
1    SEU-ALLEN_local_17300_24612_19616_5167_CCFv3  #0cce35  cluster_1
2    SEU-ALLEN_local_17300_24910_31532_5034_CCFv3  #8cd0a4  cluster_1
3    SEU-ALLEN_local_17300_25145_31938_5048_CCFv3  #7d6277  cluster_1
4    SEU-ALLEN_local_17300_25590_20787_5613_CCFv3  #7248ad  cluster_1
..                                            ...      ...        ...
395  SEU-ALLEN_local_191797_5619_12246_5809_CCFv3  #e231c6  cluster_2
396  SEU-ALLEN_local_191797_5652_12321_5819_CCFv3  #e262c4  cluster_2
397   SEU-ALLEN_local_191797_5652_9677_6466_CCFv3  #6d6a45  cluster_2
398  SEU-ALLEN_local_191797_5659_11167_5641_CCFv3  #f24575  cluster_2
399  SEU-ALLEN_local_191797_5663_11113_6084_CCFv3  #56e1ca  cluster_2

[400 rows x 3 columns]

In [8]:
import os, shutil, random, pandas as pd

SRC_DIR = '../../data/hippo/obj/swc'
CSV_FILE = '../../data/selected_obj_200perCluster.csv'
N_CLASS = 2
EXT = '.obj'

picked_folders = ['cluster_1', 'cluster_2']
df = pd.read_csv(CSV_FILE)

for i, folder_name in enumerate(picked_folders, 1):
    dst_dir = f'../../data/hippo/obj/cluster_{i}'
    os.makedirs(dst_dir, exist_ok=True)

    for swc_id in df.loc[df['folder'] == folder_name, 'swc_id']:
        src = os.path.join(SRC_DIR, swc_id + EXT)
        dst = os.path.join(dst_dir,   swc_id + EXT)
        if os.path.isfile(src):
            shutil.copy2(src, dst)
        else:
            print(src)